/* Navigation Modifications */
  .md-tabs__link--active, .md-tabs__link:focus {
    border-bottom: 1.5px solid #b5b6b3;
    height: -webkit-fill-available;
  }
  .md-tabs__item--active {
    border-bottom: 1.5px solid #b5b6b3;
    height: -webkit-fill-available;
  }
  
  .md-tabs__link:hover {
    border-bottom: 1.5px solid #6c6f749f;
    color: var(--md-primary-fg-color);
    height: -webkit-fill-available;
  }
  .md-nav__link[data-md-state=blur]:not(.md-nav__link--active) {
    color: inherit;
  }
  
  /*Announcement Bar*/
  .md-banner {
      background-color: var(--md-footer-bg-color--dark);
      color: var(--md-footer-fg-color);
      overflow: auto;
      text-align: center;
  }
  .md-typeset img, .md-typeset svg {
      height: auto;
      max-width: 100%;
      vertical-align: text-bottom;
  }
  
  .md-footer__inner {
    display: none;
  }